div{ 
    height: 200px;
    width: 200px;
    background-color: red;
    animation-name:  example;
    animation-duration: 10s ;
    position: relative;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    animation-direction: alternate;
  }
@keyframes example {
  0% {background-color: rgb(13, 223, 2);left: 0;top: 0;}
  25% {background-color: rgb(255, 255, 0);left: 300px;top: 0;}
  50% {background-color: blueviolet;top: 300px;left: 300px;}
  75% {background-color: chartreuse;left: 0;top: 300px;}
  100% {background-color: rgba(253, 28, 28, 0.719);top: 0px;left: 0px;}    
}