:root{
    --color: #b01eff;
    --bg:#f4f4f3;
    --color1:#348f87;
}
body{
    background-color: var(--bg);
}
.box1{
    width: 200px;
    height: 200px;
    background-color: var(--color);

}
.box2{
    width: 200px;
    height: 200px;
    background-color: var(--color1);
}