.container{
    display: flex;
    border: 2px solid black;
    justify-content: space-evenly;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: rgb(198, 148, 8);
}
.box3{
    width: 200px;
    height: 200px;
    background-color: rgb(122, 44, 217);
}
.box4{
    width: 200px;
    height: 200px;
    background-color: rgb(239, 11, 11);
}