.container{
    display: flex;
    border: 2px solid black;
    /* justify-content: space-evenly; */
    height: 650px;
    align-items:center;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
    flex-direction:row-reverse;
   
}
.box1{
    width: 200px;
    height: 200px;
    background-color: aqua;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: rgb(198, 148, 8);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: rgb(122, 44, 217);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.box4{
    width: 200px;
    height: 200px;
    background-color: rgb(239, 11, 11);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.box5{
    width: 200px;
    height: 200px;
    background-color: rgb(152, 11, 239);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.box6{
    width: 200px;
    height: 200px;
    background-color: rgb(224, 50, 230);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.box7{
    width: 200px;
    height: 200px;
    background-color: rgb(112, 29, 29);
    align-items: center;
    justify-content: center;
    display: flex;
}
